body {
    background-color:  white;
}

h1 {
    
    text-align: center;
}

.app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: white;
    text-align: center;
    height: 500px;
}

.day {
    border: #453443 solid 1px;
    text-align: center;
    
}
